In [2]:
import pandas as pd

In [3]:
data = [10, 12, 15, 14, 18, 20, 22, 24, 30, 100]  # notice the outlier (100)
df = pd.DataFrame(data, columns=["Value"])

In [7]:
df.head()

   Value
0     10
1     12
2     15
3     14
4     18

In [4]:
Q1 = df["Value"].quantile(0.25)
Q3 = df["Value"].quantile(0.75)
IQR = Q3 - Q1

In [5]:
# Outlier thresholds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [6]:
print("Q1:", Q1)
print("Q3:", Q3)
print("IQR:", IQR)
print("Outlier lower bound:", lower_bound)
print("Outlier upper bound:", upper_bound)

# Identify outliers
outliers = df[(df["Value"] < lower_bound) | (df["Value"] > upper_bound)]
print("Outliers:\n", outliers)

Q1: 14.25
Q3: 23.5
IQR: 9.25
Outlier lower bound: 0.375
Outlier upper bound: 37.375
Outliers:
    Value
9    100